@using LifeVenture.Web.ViewModels.Events;
@model EventsListingViewModel<SelectListItem>
@{
    this.ViewData["Title"] = "Събития";
}

<head>
    <link href="~/css/card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/event.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/select.css" rel="stylesheet" asp-append-version="true" />
</head>

<div class="event-body">

    <div class="events-header">
        <img id="events-welcome-img" src="~/images/people-event-2.jpg" alt="">
        <p id="event-slogan">
            Промени света, създай добро дело - събития с цел помощ
            за добри каузи, достъпни само с един клик!
        </p>
        <a id="event-newevent-button" asp-area="" asp-controller="Events" asp-action="Create" type="button" class="btn btn-primary">
            <span>Създай събитие</span>
        </a>
    </div>

    <div class="events-filter">
        <a id="event-filter-new" asp-controller="Events" asp-action="Index" asp-route-sortOrder="@this.ViewData["Latest"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
            <span>НАЙ-НОВИ</span>
        </a>
        <a id="event-filter-popular" asp-controller="Events" asp-action="Index" asp-route-sortOrder="@this.ViewData["MostPopular"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
            <span>НАЙ-ПОПУЛЯРНИ</span>
        </a>
        <a id="event-filter-visited" asp-controller="Events" asp-action="Index" asp-route-sortOrder="@this.ViewData["MostVisited"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
            <span>НАЙ-ПОСЕЩАВАНИ</span>
        </a>
        <form asp-action="Index" method="get">
            <div class="custom-select">
                <select name="CategoryId" class="form-control" asp-items="@Model.Categories"></select>
            </div>
            <input type="submit" value="Търси по категория" class="btn btn-secondary" />
        </form>
    </div>

    <div class="card-container row justify-content-center">
        @foreach (var eventModel in Model.PaginatedEvents)
        {
            <partial name="_EventCardPartial" model="@eventModel" />
        }

        <partial name="_EventsPaginationPartial" model="@Model.PaginatedEvents" />
    </div>
</div>

@section Scripts {
    <script src="~/js/select.js" asp-append-version="true"></script>
}