@model List<LifeVenture.Web.ViewModels.Events.EventViewModel>
@{
    this.ViewData["Title"] = "Дейности";
}

<head>
    <link href="~/css/card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/event.css" rel="stylesheet" asp-append-version="true" />
</head>

<div class="event-body">
    @*@foreach (var eventObj in Model)
    {
    <div class="text-center">
    <partial name="_EventCardPatrial" model="eventObj" />
    </div>
    }*@

    <div class="card-container row justify-content-center">
        <partial name="_EventCardPatrial" model="@(new LifeVenture.Web.ViewModels.Events.EventViewModel())" />
        <partial name="_EventCardPatrial" model="@(new LifeVenture.Web.ViewModels.Events.EventViewModel())" />
        <partial name="_EventCardPatrial" model="@(new LifeVenture.Web.ViewModels.Events.EventViewModel())" />
        <partial name="_EventCardPatrial" model="@(new LifeVenture.Web.ViewModels.Events.EventViewModel())" />
        <partial name="_EventCardPatrial" model="@(new LifeVenture.Web.ViewModels.Events.EventViewModel())" />
        <partial name="_EventCardPatrial" model="@(new LifeVenture.Web.ViewModels.Events.EventViewModel())" />
    </div>
</div>