@using LifeVenture.Web.ViewModels.Events;
@model EventViewModel

@{
    var continuationOfTheString = "...";
}

<div class="card">
    <img class="card-img-top" src="data:image/jpeg;base64,@Model.Image.ThumbnailAsBase64" alt="Card image cap">
    <div class="event-header card-body">
        <div class="card-title">@Model.Title</div>
    </div>
    <ul class="card-list-group list-group list-group-flush">
        <li class="event-bar-header list-group-item">
            Участници: @Model.VolunteersCount от @Model.MaxParticipantsCount
        </li>
        <li class="list-group-item">
            <div class="progress">
                <div id="card-progress-bar" class="progress-bar" role="progressbar" style="width: @Model.ParticipationsPercentage%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"> @Model.ParticipationsPercentage%</div>
            </div>
        </li>
        <li class="list-group-item">
            @Model.ShortDescription
            @if(Model.Description.Length > 100)
            {
                @continuationOfTheString;
            }
        </li>
    </ul>
    <div class="event-footer card-body">
        <a href="#" class="card-link">Оставащи @Model.DaysLeft дни</a>
        <a href="#" class="card-link">Прегледи @Model.ViewsCount</a>
    </div>
</div>
