@using LifeVenture.Web.ViewModels.Common;
@using LifeVenture.Web.ViewModels.Events;
@model PaginatedList<EventViewModel>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled-link" : string.Empty;
    var nextDisabled = !Model.HasNextPage ? "disabled-link" : string.Empty;

    var lastDisabled = Model.PageIndex == Model.TotalPages ? "disabled-link" : string.Empty;
    var firstDisabled = Model.PageIndex == 1 ? "disabled-link" : string.Empty;
}

<head>
    <link href="~/css/pagination.css" rel="stylesheet" asp-append-version="true" />
</head>

<div>
    <div id="pagination-body" class="">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           id="pagination-firstpage"
           class="@firstDisabled pagination-element">
        </a>

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           id="pagination-previous"
           class="@prevDisabled pagination-element">
        </a>

        @for (var i = 3; i >= 1; i--)
        {
            @if (Model.PageIndex - i >= 1)
            {
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - i)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="pagination-element page-num">
                   @(Model.PageIndex - i)
                </a>
            }
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           id="pagination-current"
           class="disabled-link page-num pagination-element">
            @(Model.PageIndex)
        </a>

        @for (var i = 1; i <= 3; i++)
        {
            @if (Model.PageIndex + i <= Model.TotalPages)
            {
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + i)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class=" @nextDisabled page-num pagination-element">
                    @(Model.PageIndex + i)
                </a>
            }
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           id="pagination-next"
           class=" @nextDisabled pagination-element">
        </a>

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.TotalPages)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           id="pagination-lastpage"
           class="@lastDisabled pagination-element">
        </a>
    </div>
</div>