@using LifeVenture.Web.ViewModels.Common;
@using LifeVenture.Web.ViewModels.Events;
@model PaginatedList<EventViewModel>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled-link" : string.Empty;
    var nextDisabled = !Model.HasNextPage ? "disabled-link" : string.Empty;

    var lastDisabled = Model.PageIndex == Model.TotalPages ? "disabled-link" : string.Empty;
    var firstDisabled = Model.PageIndex == 1 ? "disabled-link" : string.Empty;
}

<head>
    <link href="~/css/pagination.css" rel="stylesheet" asp-append-version="true" />
</head>
<div>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="@firstDisabled">
        First
    </a>

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       id="previous"
       class=" @prevDisabled">
        Previous
    </a>

    @for (var i = 3; i >= 1; i--)
    {
        @if (Model.PageIndex - i >= 1)
        {
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - i)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="">
                @(Model.PageIndex - i)
            </a>
        }
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="disabled-link page-num">
        @(Model.PageIndex)
    </a>

    @for (var i = 1; i <= 3; i++)
    {
        @if (Model.PageIndex + i <= Model.TotalPages)
        {
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + i)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class=" @nextDisabled page-num">
                @(Model.PageIndex + i)
            </a>
        }
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       id="next"
       class=" @nextDisabled">
        Next
    </a>

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.TotalPages)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="@lastDisabled">
        Last
    </a>
</div>