@using LifeVenture.Web.ViewModels.Common;
@using LifeVenture.Web.ViewModels.Events;
@model PaginatedList<EventViewModel>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled-link" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled-link" : "";
}

<head>
    <link href="~/css/pagination.css" rel="stylesheet" asp-append-version="true" />
</head>
<div>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       id="previous"
       class=" @prevDisabled">
        Previous
    </a>
    @if (Model.PageIndex > 1)
    {
        <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class=" @prevDisabled page-num">
            @(Model.PageIndex - 1)
        </a>
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="disabled-link page-num">
        @(Model.PageIndex)
    </a>

    @if (Model.TotalPages > Model.PageIndex)
    {
        <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class=" @nextDisabled page-num">
            @(Model.PageIndex + 1)
        </a>
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       id="next"
       class=" @nextDisabled">
        Next
    </a>
</div>