@model HomeViewModel;
@using LifeVenture.Common;
@using LifeVenture.Web.ViewModels.Events;
@using LifeVenture.Web.ViewModels.Home;
@{
    this.ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/home-carousel.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/sass/home-sass.css" rel="stylesheet" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<div id="home-body" class="text-center">

    <div id="home-welcome-container">
        <img id="home-welcome-img" src="~/images/backgrounds/hero-Image.jpg" alt="">
        <h1 id="home-welcome">ДОБРЕ ДОШЛИ В</h1>
        <h1 id="home-name">LIVE VENTURE</h1>
        <a id="home-event-button" asp-controller="Events" asp-action="Index" type="button" class="btn btn-primary">Събития</a>
    </div>

    <div class="home-info-container">
        <div id="nums-container">
            <div class="item1">
                <div class="home-number">@Model.StatisticalInfo.EventStatistic.EventsCount</div>
                <div class="home-label">Събития</div>
            </div>
            <div class="item2">
                <div class="home-number">@Model.StatisticalInfo.EventStatistic.VolunteersCount</div>
                <div class="home-label">Доброволци</div>
            </div>
            <div class="item3">
                <div class="home-number">@Model.StatisticalInfo.EventStatistic.GoodDeedsCount</div>
                <div class="home-label">Добри дела</div>
            </div>
            <div class="item4">
                <div class="home-number">@Model.StatisticalInfo.UserStatistic.HeroesCount</div>
                <div class="home-label">Герои</div>
            </div>
            <div class="item5">
                <div class="home-number">@Model.StatisticalInfo.UserStatistic.UsersCount</div>
                <div class="home-label">Потребители</div>
            </div>
        </div>
    </div>

    <div id="home-carousel-container">

        <div id="carousel">
            @if (Model.Events.Count > 0)
            {
                <div class="hideLeft inner-div">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Events[0].ThumbnailData))" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">@Model.Events[0].Title</div>
                    </div>
                </div>

                <div class="prevLeftSecond inner-div">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Events[0].ThumbnailData))" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">@Model.Events[0].Title</div>
                    </div>
                </div>

                <div class="prev inner-div">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Events[0].ThumbnailData))" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">@Model.Events[0].Title</div>
                    </div>
                </div>

                <div class="selected inner-div">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Events[0].ThumbnailData))" />
                    <div class="carusel-inner-header">
                        <div class="inner-header-text">@Model.Events[0].Title</div>
                    </div>
                </div>

                <div class="next inner-div">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Events[0].ThumbnailData))" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">@Model.Events[0].Title</div>
                    </div>
                </div>

                <div class="nextRightSecond inner-div">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Events[0].ThumbnailData))" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">@Model.Events[0].Title</div>
                    </div>
                </div>

                <div class="hideRight inner-div">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Events[0].ThumbnailData))" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">@Model.Events[0].Title</div>
                    </div>
                </div>
            }
            else
            {
                <div class="hideLeft inner-div">
                    <img src="~/images/81C81CB44922409EA3C99FA3E42369CD.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div class="prevLeftSecond inner-div">
                    <img src="~/images/81C81CB44922409EA3C99FA3E42369CD.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div class="prev inner-div">
                    <img src="~/images/81C81CB44922409EA3C99FA3E42369CD.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div class="selected inner-div">
                    <img src="~/images/81C81CB44922409EA3C99FA3E42369CD.jpg" />
                    <div class="carusel-inner-header">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div class="next inner-div">
                    <img src="~/images/81C81CB44922409EA3C99FA3E42369CD.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div class="nextRightSecond inner-div">
                    <img src="~/images/81C81CB44922409EA3C99FA3E42369CD.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div class="hideRight inner-div">
                    <img src="~/images/81C81CB44922409EA3C99FA3E42369CD.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>
            }
        </div>

        <button id="prev"></button>
        <button id="next"></button>
    </div>

</div>

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}
