@model HomeViewModel;
@using LifeVenture.Common;
@using LifeVenture.Web.ViewModels.Events;
@using LifeVenture.Web.ViewModels.Home;
@{
    this.ViewData["Title"] = "Home Page";

    var counter = 0;

    if (Model.Events.Count % 2 != 0)
    {
        counter = (7 - Model.Events.Count) / 2;
    }
    else
    {
        counter = (6 - Model.Events.Count) / 2;
    }

    var dictionaryClasses = new Dictionary<int, string>()
    {
        { 0, "hideLeft" },
        { 1, "prevLeftSecond" },
        { 2, "prev" },
        { 3, "selected" },
        { 4, "next" },
        { 5, "nextRightSecond" },
        { 6, "hideRight" },
    };
}

<head>
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/card.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/home-carousel.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/sass/home-sass.css" rel="stylesheet" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<div id="home-body" class="text-center">

    <div id="home-welcome-container">
        <img id="home-welcome-img" src="~/images/backgrounds/hero-Image-home.jpg" alt="">
        <h1 id="home-welcome">ДОБРЕ ДОШЛИ В</h1>
        <h1 id="home-name">LIVE VENTURE</h1>
        <p id="home-slogan">
            Промени света, създай добро дело - събития с цел помощ
            за добри каузи, достъпни само с един клик!
        </p>
        <a id="home-event-button" asp-controller="Events" asp-action="Create" type="button" class="btn btn-primary">
            <span>Създай събитие</span>
        </a>
    </div>

    <div class="home-info-container">
        <div id="nums-container">
            <div class="item1">
                <div class="home-number">@Model.StatisticalInfo.EventStatistic.ActiveEventsCount</div>
                <div class="home-label">Активни събития</div>
            </div>

            <div class="item2">
                <div class="home-number">@Model.StatisticalInfo.EventStatistic.GoodDeedsCount</div>
                <div class="home-label">Добри дела</div>
            </div>

            <div class="item3">
                <div class="home-number">@Model.StatisticalInfo.UserStatistic.HeroesCount</div>
                <div class="home-label">Герои</div>
            </div>

            <div class="item4">
                <div class="home-number">@Model.StatisticalInfo.EventStatistic.VolunteersCount</div>
                <div class="home-label">Доброволци</div>
            </div>

            <div class="item5">
                <div class="home-number">@Model.StatisticalInfo.EventStatistic.PastEventsCount</div>
                <div class="home-label">Минали събития</div>
            </div>
        </div>
    </div>

    <div id="home-carousel-container">

        <div id="carousel">
            @if (Model.Events.Count > 0)
            {
                @foreach (var homeEvent in Model.Events)
                {
                    if (dictionaryClasses[counter] == "selected")
                    {
                        <div id="carousel-element" class="@dictionaryClasses[counter] inner-div">
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(homeEvent.ThumbnailData))" />
                            <div class="carusel-inner-header">
                                <div class="inner-header-text">@homeEvent.Title</div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="carousel-element" class="@dictionaryClasses[counter] inner-div">
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(homeEvent.ThumbnailData))" />
                            <div class="carusel-inner-header" style="opacity: 0;">
                                <div class="inner-header-text">@homeEvent.Title</div>
                            </div>
                        </div>
                    }

                    counter++;
                }
            }
            else
            {
                <div id="carousel-element" class="hideLeft inner-div">
                    <img src="~/images/3.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div id="carousel-element" class="prevLeftSecond inner-div">
                    <img src="~/images/3.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div id="carousel-element" class="prev inner-div">
                    <img src="~/images/3.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div id="carousel-element" class="selected inner-div">
                    <img src="~/images/3.jpg" />
                    <div class="carusel-inner-header">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div id="carousel-element" class="next inner-div">
                    <img src="~/images/3.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div id="carousel-element" class="nextRightSecond inner-div">
                    <img src="~/images/3.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>

                <div id="carousel-element" class="hideRight inner-div">
                    <img src="~/images/3.jpg" />
                    <div class="carusel-inner-header" style="opacity: 0;">
                        <div class="inner-header-text">ЗАГЛАВИЕ</div>
                    </div>
                </div>
            }
        </div>

        @*<div id="prev-body">
        </div>*@
        <button id="prev"></button>
        <button id="next"></button>
    </div>

</div>

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}
